.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.controls {
    display: flex;
    gap: 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switcher {
        display: flex;
        flex-direction: column;
    }

    .controls {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    span {
        margin-left: 20px;
        display: none;
    }
}

.collapseBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
    z-index: var(--collapse-button-z-index);
}

.links {
    svg {
        fill: var(--inverted-secondary-color);
    }

    span {
        margin-left: 20px;
    }
}
