body.anime {
    --bg-color: #d354cb;
    --inverted-bg-color: #fbf4fa;
    --primary-color: #fbf4fa;
    --secondary-color: #d354cb;
    --inverted-primary-color: #7d34cb;
    --inverted-secondary-color: #ac7dde;

    // skeleton
    --skeleton-color: #a662ac;
    --skeleton-shadow: #ff63fe;
}
