body.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #fff;
    --secondary-color: #85ff76;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #005aff;

    // skeleton
    --skeleton-color: #3626aa;
    --skeleton-shadow: #000dff;

    // code
    --code-bg: rgb(0 87 255 / 63%);

    // card
    --card-bg: #1919b6;

    // list
    --listbox-bg: #1919b6;
}
