body.orange {
    --bg-color: #ea7c23;
    --inverted-bg-color: #fbf4fa;
    --primary-color: #fbf4fa;
    --secondary-color: #61482e;
    --inverted-primary-color: #28cbc0;
    --inverted-secondary-color: #ac7dde;

    // skeleton
    --skeleton-color: #8e774a;
    --skeleton-shadow: #ffb663;

    // code
    --code-bg: #e39556;

    // card
    --card-bg: #e39556;

    // list
    --listbox-bg: #e39556;
}
