.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.links {
  display: flex;
  justify-content: start;
  gap: 15px;
}

.controls {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}