.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: var(--primary-color);
}

.appName {
    margin-left: 15px;
}

.createBtn {
    margin-right: 20px;
}